<div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<i style="font-size: 55px; color:red;" class="fa fa-envelope-open" aria-hidden="true"></i>
<i class="fa fa-envelope-open" aria-hidden="true"></i>
<i class="fa fa-envelope-open" aria-hidden="true"></i>
<i class="fa fa-envelope-open" aria-hidden="true"></i>
<i class="fa fa-envelope-open" aria-hidden="true"></i>
<i class="fa fa-envelope-open" aria-hidden="true"></i>
<br/><br/><br/><br/>
<div>
    <app-template-app1></app-template-app1>
    <app-test-ng-class></app-test-ng-class>
    <app-template-ref-var></app-template-ref-var>
    <app-value-binding></app-value-binding>
    <app-event-binding></app-event-binding>
    <app-two-way-binding></app-two-way-binding>
    <app-test-ng-if></app-test-ng-if>
    <app-test-ng-for></app-test-ng-for>
    <app-test-ng-switch></app-test-ng-switch>
    <app-test-ng-class></app-test-ng-class>
    <app-test-ng-style></app-test-ng-style>
    <app-test-ng-model></app-test-ng-model>
    <app-test-pipe></app-test-pipe>
    <app-test-nav></app-test-nav>

<!--    <app-pather-and-son></app-pather-and-son>-->

    <app-life-cycle title="父组件传递进来的标题"></app-life-cycle>

    <app-test-ng-on-change></app-test-ng-on-change>

<!--   <app-test-dynamic-component2></app-test-dynamic-component2>-->
    <app-test-dynamic-component></app-test-dynamic-component>
</div>
